.main-text {
  font-weight: 900;
  color: white;
  -webkit-text-stroke: 0.1vw #071d43;
  text-transform: uppercase;
  margin-bottom: 2rem;
}
.main-text1 {
  color: rgba(255, 255, 255, 0.7);
  display: "flex";
  text-align: "center";
  letter-spacing: 1.5px;
  position: relative;
  width: 80%;
}
@media (max-width: 900px) {
  .main-text {
    margin-bottom: 0.2rem;
  }

  .main-text1 {
    width: 80%;
  }
}
._partner_ {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60%;
  width: 100%;
  overflow: hidden;
  background: rgba(255, 255, 255, 0.6);
  margin-top: 3rem;
}
._partner-items_ {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  animation: scrolling 20s linear infinite;
}
@keyframes scrolling {
  0% {
    transform: translateX(50%);
  }
  100% {
    transform: translateX(-50%);
  }
}
.footer-form {
  display: flex;
  border-bottom: 2px solid rgba(6, 231, 231, 0.5);
  margin-top: 0.2rem;
  position: relative;
  align-items: center;
  justify-content: space-between;
  margin-left: 1rem;
  width: auto;
}
.footer-form input {
  background-color: transparent;
  color: #f1f1f1;
  border: 0;
  outline: none;
}
.input-box {
  height: 50px;
  width: 80%;
  background: #fff;
  border-radius: 50px;
  box-shadow: 0 5px 10px rgba(3, 47, 129, 0.859);
}

.input-box input {
  flex: 1;
  height: 100%;
  width: 100%;
  outline: none;
  padding: 0 0 0 20px;
  background-color: transparent;
  font-size: 18px;
  font-weight: 400;
  border: none;
  border-radius: 30px;
}

.input-box .search-btn {
  right: 0;
  border: none;
  padding: 12px 20px;
  border-bottom-right-radius: 50px;
  border-top-right-radius: 50px;
  cursor: pointer;
  height: 100%;
  align-items: center;
  justify-content: center;
  background-color: transparent;
}

.email-container {
  display: flex;
  align-items: center;
}
.icon-mail {
  margin-right: 0.5rem;
  align-items: center;
}

.icon-instagram {
  align-items: center;
}

.icon-linkedin {
  align-items: center;
  margin-right: 1.5rem;
}
.icon-instagram :hover {
  color: black;
}

.icon-linkedin:hover {
  color: black;
}
